body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #FFD700;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    padding-top: 20px;
    overflow: hidden;
}

.sidebar.closed {
    width: 60px;
}

.sidebar h2 {
    text-align: center;
    color: black;
    margin: 0 0 20px 0;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 15px;
    right: -20px;
    background: #ff4b4b;
    color: white;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    border: none;
}

/* MENU */
.menu-item {
    padding: 15px 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-item:hover {
    background-color: #ffe769;
}

.menu-item i {
    font-size: 20px;
}

.menu-text {
    transition: 0.2s;
}

.sidebar.closed .menu-text {
    opacity: 0;
}

/* CONTENT AREA */
.content {
    margin-left: 260px;
    padding: 20px;
    transition: 0.3s;
}

.sidebar.closed ~ .content {
    margin-left: 80px;
}

/* FORM CONTAINER */
.form-container {
    max-width: 1250px;
    padding: 25px;
    margin: auto;
    background: #fff7c5;
    border-radius: 15px;
    border: 2px solid #FFD700;
}

.form-header {
    background: #FFD700;
    padding: 18px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
    color: black;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1.3px solid #D9B300;
    background: white;
    color: black;
}

hr {
    margin: 25px 0;
    border: 0.5px solid #EAC800;
}

.section-title {
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.btn {
    background: #FFD700;
    border: none;
    padding: 8px 16px;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #ffef7e;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #FFD700;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

td {
    padding: 8px;
}

.hapus-btn {
    background: #ff4b4b;
    padding: 6px 12px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn-submit {
    background: #FFD700;
    padding: 12px 25px;
    border: none;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    float: right;
}
